#Для того чтобы конфиг заработал необходимо удалить расширение .example

#https://vkhost.github.io/ -> Кастомный ключ с "Сообщения" и "Доступ в любое время"
TOKEN_VK = ""

#https://tlgrm.ru/docs/api/obtaining_api_id
API_ID = 12345678 
API_HASH = ""

BLACKLIST = ["15", "по зз", "_inst_"] # Можно задать любые ключи с текстом которые нужно пропускать.
WHITELIST = ["програм"] # Можно задать любые ключи с текстом. Если эти ключи будут в тексте, то в консоли будет уведомление.

DELAY_TG = 0.4 # Задержка сообщений для телеграм
DELAY_VK = 3 # Задержка сообщений для вк

SKIP_ALL = False # Пропускать анкеты не подходящие ни к BLACKLIST, ни к WHITELIST. При False будет выбор пропустить анкету или нет.

MIN_SYMBOL = 70 # Минимальное количество символов в анкете